.formResults {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 500px;
  overflow-y: visible;
  text-align: left;
}

.formResults li {
  background-color: #263238;
  transition: all 0.35s ease-out;
}

.formResults li:hover {
  background-color: #000;
}

.formResults a {
  color: #fff;
  display: flex;
  padding: 20px 20px;
}

.recipeResult {
  width: 100px;
  margin-right: 20px;
  align-self: center;
}
